
#tweets {
	margin:0;
	padding:0;
	position: fixed;
	display: block;
	top: 10px;
	bottom: 10px;
	left: 10px;
	width: 400px;
	/*background-color: #fff;*/
	z-index: 101;
	list-style: none;
	overflow: hidden;
	/*overflow-y: auto;*/
}

#map {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0px;
	right: 0;
	z-index: -50;
}

ul.nav a {
	background-color: #fff;
	margin-left:5px;
}

ul.nav a img {
	float:left;
	padding-right: 5px;
	padding-bottom: 5px;
	max-width: 380px;
}


#tweets li {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px;
	margin:0;
	margin-right: 10px;
	display:block;
	position:relative;
	background-color: #fff;
	border: solid 1px #428BCA;
	border-left: solid 4px #428BCA;
	/*border-bottom: solid 1px #ccc;*/
	margin-bottom: 5px;
	/*background-color: rgba( 255, 255, 255 );*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}