
body {
  background-color: #f0f1f2;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding-top: 20px;
  clear:both;
}

.header {
  margin-right: 100px;
  z-index: 100;
}