
body {
  background-color: #f0f1f2;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.github-icon {
  background: #ddd;
  top: 0;
  /*display: none;*/
  height: 2em;
  padding: 3px 3px 0px 7px;
  position: absolute;
  left: 0;
  width: 125px;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.github-icon a {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}

.github-icon:hover {
  background: #cacaca;
  height: 2.5em;
}

.github-icon:hover a {
  position: relative;
  top: .3em;
}



/* Media Queries */

/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) {
  .header {
    margin-right: 10px;
    margin-top: 5px;
  }

  .github-icon {
    display: block;
  }
}

/* END Media Queries */
