!!! 5
html(data-ng-app="hack4good")
  head

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Web Fonts 
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans", type="text/css")
    
    // Core Dependencies 
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/bower_components/underscore/underscore-min.js")
    script(type="text/javascript", src="/bower_components/angular/angular.js")
    script(type="text/javascript", src="/bower_components/jquery-timeago/jquery.timeago.js")
    
    // Twitter Bootstrap 
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.css")

    // Leaflet
    link(rel="stylesheet", href="/vendor/leaflet/leaflet.css")
    script(type="text/javascript", src="/vendor/leaflet/leaflet.js")
    script(type="text/javascript", src="/vendor/leaflet-providers.js")

    // Firebase
    script(type="text/javascript", src="https://cdn.firebase.com/v0/firebase.js")

    // Jquery Flash Message Plugin
    link(rel="stylesheet", href="/vendor/jquery.flash.css")
    script(type="text/javascript", src="/vendor/jquery.flash.js")

    // 3rd Party Angular Modules 
    script(type="text/javascript", src="/bower_components/angular-flash/dist/angular-flash.js")

    // File Uploads 
    script(src="/bower_components/angularjs-file-upload/angular-file-upload.min.js")
    
    // Stylesheets 
    link(rel="stylesheet", href="/style/layout.css")
    link(rel="stylesheet", href="/style/carousel.css")
    link(rel="stylesheet", href="/style/map.css")
    
    // Angular JS App 
    script(src="/app.js")
    script(src="/services.js")
    
    // ========= Features ========= 
    
    // Example 
    script(src="/feature/example/IndexController.js")
    script(src="/feature/example/init.js")
    link(rel="stylesheet", href="/feature/example/example.css")

    // Menu 
    script(src="/feature/menu/MenuController.js")
    script(src="/feature/menu/init.js")

    // Home 
    script(src="/feature/home/IndexController.js")
    script(src="/feature/home/init.js")

    // Map 
    script(src="/feature/map/IndexController.js")
    script(src="/feature/map/init.js")

    // Twitter 
    script(src="/feature/twitterwidget/IndexController.js")
    script(src="/feature/twitterwidget/init.js")

    // .. more features
  
  // Pass View & Session Variables from Server Side to Angular
  body(ng-init="flash=#{JSON.stringify(flash)}; user=#{JSON.stringify(user)};")

    // Github Ribbon (fork me) 
    .ribbon(data-ng-include="'/feature/home/github-ribbon.html'")

    .container
      .header
        .ribbon(data-ng-include="'/feature/menu/menu.html'")
        h3.text-muted &nbsp;

      // Main Content Section 
      #main(data-ng-view="")