
<section class="aside" ng-controller="AsideController" ng-show="poi.id">
  <div class="head">
    <div class="poi">
      <input class="title" type="text" value="{{poi.title}}" placeholder="title" />
      <textarea class="description" placeholder="description">{{poi.description}}</textarea>
      <a ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</a>
      <a class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Delete</a>
      <a ng-hide="isDraggable" class="btn btn-success" ng-click="draggable(true)"><i class="fa fa-map-marker"></i>&nbsp;Move Pin</a>
      <a ng-show="isDraggable" class="btn btn-success" ng-click="draggable(false)"><i class="fa fa-map-marker"></i>&nbsp;Lock Pin</a>
      <!-- <i class="icon-border fa fa-{{poi.icon.options.icon}}"></i> -->
    </div>
  </div>
  <a class="section-head">News Sources</a>
  <div class="section section-news">
    <p><a href="">BBC NEWS</a></p>
  </div>
  <a class="section-head">Photos</a>
  <div class="section section-photos">
    <ul class="photos">
      <li class="photo">&nbsp;</li>
      <li class="photo">&nbsp;</li>
      <li class="photo">&nbsp;</li>
      <li class="photo">&nbsp;</li>
      <li class="photo">&nbsp;</li>
      <li class="photo">&nbsp;</li>
    </ul>
  </div>
  <div class="panel">
    <p>I am a panel</p>
  </div>
</section>