
.aside {
  position: fixed;
  top: 40px;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: rgba(220,220,220,0.8);
}

.aside .panel p,
.aside .section p {
  margin: 0;
  padding: 0;
}

.aside .head {
  background-color: #bbb;
  margin: 0 0 5px 0;
  padding: 10px 10px;
  border-bottom: solid 1px #aaa;
}

.aside .panel {
  /*background-color: #ddd;*/
  margin: 5px;
  padding: 20px;
}

.aside .section {
  background-color: #ddd;
  margin: 0 0 10px 0px;
  padding: 20px 10px;
  border-top: solid 1px #cdc;
  border-bottom: solid 1px #cdc;
}

.section-head {
  display:block;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 3px 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ddd;
  text-decoration: none;
}

.poi {}

.poi .icon-border {
  /*display: inline-block;*/
  font-size: 14px;
  padding: 7px 8px;
  color: rgba(255,0,0,0.8);
  background-color: rgba(255,255,255,0.8);
  border: solid 1px #333;
  border-color: rgba(255,0,0,0.8);

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.poi input.title {
  /*display: inline-block;*/
  margin: 0;
  padding: 0 5px;
  border: none;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255,0.5);
  font-size: 24px;
  line-height: 35px;
  width: 100%;
  /*float: left;*/
}

.poi textarea.description {
  /*display: inline-block;*/
  margin: 0;
  padding: 5px;
  border: none;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255,0.5);
  font-size: 12px;
  width: 100%;
  /*float: left;*/
}

.poi a.btn {
  margin-top: 5px;
  padding: 5px 10px;
}

.photos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos .photo {
  padding: 2px;
  margin-bottom: 5px;
  background-color: #fff;
  border: solid 1px #ccc;
  width: 65px;
  height: 65px;
  display: inline-block;
}

@media (max-width: 700px) {

  .aside {
    position: relative;
    top: 0;
    width: 100%;
    background-color: transparent;
  }

}